
<html>
<head>
    <title></title>

    <script>

        function Download() {
            var fileNumber = parseInt(document.getElementById('1').value);
            var MaxValue = parseInt(document.getElementById('2').value);

            $.post("/Controller/Home/btnDownload", {"x":fileNumber, "y":MaxValue })
        }

    </script>

</head>

<body>

    <input type="submit" id="button" value="Generuj" onclick="Download()"/>

</body>
</html>
