<html>

<head>

    <style>
        p {
            /*color:cyan;*/
        }

        body {
            /*background-color:grey;*/
        }

        span {
            font-style: normal;
            color: palevioletred;
        }
    </style>


    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script>

        window.onload = function () {
            $("myButton").style.display = 'none';
        }

        function validate() {
            var fileNumber = parseInt($("#textbox1").val());
            var MaxValue = parseInt($("#textbox2").val());

            if (fileNumber == 0 | isNaN(fileNumber)) {
                $('#valid1').html("Wprowadz ile liczb wygenerować.")
            }
            if (MaxValue == 0 | isNaN(MaxValue)) {
                $('#valid2').html("Wprowadz maksymalną wartość.");
            }
            else if (MaxValue < 0) {
                alert("Maksymalna wartość musi być większa od zera");
            }
            else if (MaxValue > 2147483647) {
                alert("Maksymalna wartość musi być mniejsza niż 2147483647");
            }
            else {
               $("#okButton").attr("disabled", true);
                $("#textbox1").attr("disabled", true);
                $("#textbox2").attr("disabled", true);
                $('<div><input type="button" id="genButton" value= "Generuj"/></div>').appendTo('.genbutton');
            }

        }
        $(document).on('click','#genButton', function () {
                var fileNumber = parseInt($("#textbox1").val());
                var MaxValue = parseInt($("#textbox2").val());
                var getUrl = '@Url.Action("Download","Home")';

                $.ajax({
                    url: '/Home/GenerateFile',
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ file: { FileAmount: fileNumber, MaxValue: MaxValue } }),
                    async: true,
                    processData: false,
                    cache: false,
                    success: function (data) {
                        if (data.success)
                            window.location = getUrl + "?fileName=" + data.fName;
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
        
        function reset() {
            $("#okButton").attr("disabled", false);
            $("#textbox1").attr("disabled", false).val(0);
            $("#textbox2").attr("disabled", false).val(0);
            $('.genbutton').remove();
        }

    </script>

</head>

<body>
    <form name="inputFile">
        <p>Wprowadź ile liczb wygenerować: <input type="text" size="20" id="textbox1" name="fileAmount" /> <span id="valid1"></span></p>
        <p>Wprowadź maksymalną wartość:    <input type="text" size="20" id="textbox2" name="maxValue" /> <span id="valid2"></span></p>
        <p><input type="button" id="okButton" name="submit" value="OK" onclick="validate()"></p>
    </form>
    <p><input type="button" id="reset" value="Resetuj" onclick="reset()" /></p>
    <div class="genbutton"/>

</body>

</html>
