
<html>
<head>
    <title></title>

    <script>

    function Download() {

        var fileNumber = parseInt(document.getElementById('1').value);
        var MaxValue = parseInt(document.getElementById('2').value);


        $.ajax({
            type: "POST",
            url: "@Url.Action("btnDownload", "Home")",
            data: { x:fileName, y: MaxValue },
            success: function () {
                alert();

            }
        });
    }


    </script>

</head>

<body>

    <input type="button" id="button" value="Generuj" onclick="Download()"/>

</body>
</html>
