<!DOCTYPE html>

<html>

<head>
    <title> Generowanie losowych liczb</title>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/downloadscript.js"></script>
    <script>

        $(document).ready(function () {

            window.aa = window.setInterval(function () {
                var getUrl = '@Url.Action("Download","Home")';
                if (requestClientList.length == 0) {
                    console.log("Download list empty.");
                    return;
                }
                var s = requestClientList.pop();

                $.ajax({
                    url: '/Home/MyRequests',                           
                    type: 'POST',
                    dataType: "JSON",
                    data: { file: "GenerateFile" + s + ".txt" },
                    success: function (data) {
                        if (data.success) {
                            window.location = getUrl + "?fileName=" + "GenerateFile" + s + ".txt";
                            downloadedList.push("GenerateFile" + s + ".txt");
                        }
                        else {
                            requestClientList.push(s);
                            console.log(data.success + " " + s);
                        }
                    },
                    
                    error: function (xhr) {
                        console.log("Error with request " + s);
                    }
                });
            }, 5000);
        });

        $(document).ready(function () {

            window.aa = window.setInterval(function () {
                if (downloadedList.length == 0) {
                    return;
                }
                var s = downloadedList.pop();

                $.ajax({
                    url: '/Home/SendDownload',
                    type: 'POST',
                    dataType: "JSON",
                    data: { file: s },
                    success: function (data) {
                        if (data.success) {
                            console.log("Remove from server " + s);
                        }
                        else {
                            downloadedList.push(s);
                            console.log("Problem with remove " + s);
                        }
                    },
                    error: function (xhr) {
                        console.log("Error with remove " + s);
                        downloadedList.push(s);
                    }
                });
            }, 5000);
        });

    </script>

</head>

<body>
    @Html.Partial("~/Views/Home/Download.cshtml")

  
</body>
</html>
