<!DOCTYPE html>

<html>


<head>
    <title> Generowanie losowych liczb</title>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <script src="~/Scripts/downloadscript.js">
    </script>
    <script>

        $(document).on('click', '#down', function () {
    
                var getUrl = '@Url.Action("Download","Home")';

                $.ajax({
                    url: '/Home/Response',
                    type: 'POST',
                    success: function (xhr) {
                       
                        window.location = getUrl + "?fileName=" + "GenerateFile1439196897846.txt";
                    },
                    error: function(xhr){console.log(xhr.status)}
                });
       
        });


        $(document).ready(function () {

            window.aa = window.setInterval(function () {
                var getUrl = '@Url.Action("Download","Home")';
                if (list.length == 0)
                    return;
                var s = list.pop();

                $.ajax({
                    url: '/Home/Response',
                    type: 'POST',
                    success: function (xhr) {
                        window.location = getUrl + "?fileName=" + "GenerateFile" + s + ".txt";
              
                    },
                    error: function (xhr) {
                        console.log(xhr.status)
                        list.push(s);
                    }
                });
            }, 5000);
        });

    </script>

</head>

<body>
    @Html.Partial("~/Views/Home/Download.cshtml")

    </body>
</html>
